# to interact with youtrack instance
export TF_VAR_YOUTRACK_TOKEN=...
export TF_VAR_keycloak_client_secret=...

# export TF_LOG=DEBUG
# export TF_LOG_PATH=./terraform.log
export TF_CLI_CONFIG_FILE="$PWD/dev-environment/tf-cli-config.tfrc"
export GO_BIN=$(go env GOPATH)/bin

# to run acceptance tests against youtrack instance
export TF_ACC=1
export YOUTRACK_URL="http://localhost:8080"
export YOUTRACK_TOKEN="$TF_VAR_YOUTRACK_TOKEN"
export YOUTRACK_NOTIFY_LOGIN="admin"
export YOUTRACK_TEST_GROUP_NAME="Registered Users"
export YOUTRACK_TEST_USER="admin"
export YOUTRACK_TEST_PERMISSION="Read Issue"
# optional; defaults to enum[1] when not set
export YOUTRACK_TEST_CUSTOM_FIELD_TYPE_ID="enum[1]"
# project acceptance tests: login of the user to set as project owner
export YOUTRACK_TEST_PROJECT_LEADER_LOGIN="admin"
# project custom field acceptance tests: entity ID of a global custom field and its ProjectCustomField $type
export YOUTRACK_TEST_PROJECT_CUSTOM_FIELD_NAME="..."
export YOUTRACK_TEST_PROJECT_CUSTOM_FIELD_TYPE="EnumProjectCustomField"

export YOUTRACK_OAUTH2_CLIENT_ID=...
export YOUTRACK_OAUTH2_CLIENT_SECRET=....
export YOUTRACK_OAUTH2_SERVER_URL="http://localhost:8080/auth"
export YOUTRACK_OAUTH2_TOKEN_URL="$YOUTRACK_OAUTH2_SERVER_URL/token"
export YOUTRACK_OAUTH2_USER_INFO_URL="$YOUTRACK_OAUTH2_SERVER_URL/userinfo"
export YOUTRACK_OAUTH2_USER_ID_PATH="sub"

# install golangci-lint in go Path
curl -sSfL https://golangci-lint.run/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.12.2
